doctype html
html
    head
        title Formation
        link(rel="stylesheet" href="/css/materialize.min.css")
        script(src="/js/materialize.min.js")
    body
        nav
            ul
                li
                    a(href='/book') Liste de livre
                li
                    a(href='/book/create') Ajouter un livre
        block content
