extends ../layout

block content
    form(method="post", action="/book")
        div.input-field
            label(for="title", class="active") Titre du livre
            input(name="title", id="title", type="text")
        div.input-field
            label(for="description", class="active") Description du livre
            input(name="description", id="description", type="text")
        button(type="submit", class="btn") Ajouter
