extends ../layout

block content
    table
        thead
            tr
                th Titre
                th Description
                th Actions
        tbody
            each book in books
                tr
                    td= book.title
                    td= book.description
                    td
                        a(href=`/book/${book.id}`, class="btn") Editer
