extends ../layout

block content
    div.container
        h1.center-align Affichage
        form(method="post", action=`/book/${book.id}`)
            div(form="title")= book.title
            div(form="description")= book.description
            button.btn#edit(type="button") Editer
    script(src="/js/book_show.js")
